<div class="contactpage">
	<h1>Email: nicole.tingey1@gmail.com </h1>
	<h1>Instagram: @cocotingsterr <a href="https://www.instagram.com/cocotingsterr"> My Instagram </a> </h1>
	<h1>Facebook: Coco Tingey <a href="https://www.facebook.com/coco.tingey"> My Facebook Page </a> </h1>
	<h1>Youtube: Coco Tingey <a href="https://www.youtube.com/channel/UCHlAB6CqCS7ZbBxifiq4V2w"> My Youtube Page </a> </h1>
	<h1> I check my email daily if you have any questions or are wanting to work togetger. Email is the best way to get in contact with me. </h1>
</div>
    <%= image_tag "resume.png", :class => "resumepic" %>
