<div class="homepage">
	<%= image_tag("IMG_8187.jpg") %>
	<h1> Hi, my name is Coco. </h1>
</div>
<div class="usersignedin">
	<% if current_user %>
  		<p> You are signed in</p>
	<% else %>
  		<p>No user is signed in</p>
	<% end %>
</div>