h2 {
	text-align: center;
	color: #FFA4C3;
	font-size: 2.5em;
}
.signuppage {
	text-align: center;
}

.field {
	padding: 20px;
	font-size: 1.8em;
	color: #FFA4C3
}

.forgotpass {
	text-align: center;
}

.actions {
	padding: 10px;
}

.signinpage {
	text-align: center;
}